<article id="<%= post.layout %>-<%= post.slug %>" class="article global-container article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <% if (post.link || post.title){ %>
    <header class="article-header">
      <%- partial('post/title', {class_name: 'article-title'}) %>
    </header>
  <% } %>
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
  </div>
  <% if (!index){ %>
    <span id="busuanzi_container_page_pv">
      本文总阅读量<span id="busuanzi_value_page_pv"></span>次
    </span>
  <% } %>

  <div class="article-inner">
    <%- partial('post/gallery') %>
    <div class="article-content article-content-<%= theme.highlightPanel %>" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <% if (!index){ %>
      <footer class="article-footer">
        完
      </footer>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
    <%- partial('gitment') %>
  <% } %>
  
</article>
